{% extends "base.html" %}
{% load static %}
{% load filepath %}

{% block page_content %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ article.image.url|filepath }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ article.title }}</h1>
            <h2 class="subheading">{{ article.description }}</h2>
            <span class="meta">Posted by
              <a href="{{ article.author.website }}" target="blank">{{ article.author.name }}</a>
              on {{ article.created_on }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {{ article.content|linebreaks }}
        </div>
      </div>
    </div>
  </article>

  <div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% if user.is_authenticated %}
            <h3>Leave a comment:</h3>
            <form action="/articles/{{ article.pk }}/comment/create/" method="post" class="mb-3">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.author }}
                </div>
                <div class="form-group">
                    {{ form.body }}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            {% endif %}
            {% if comments|length > 0 %}
                <hr>
                <h3 class="mt-4">Comments:</h3>
                {% for comment in comments %}
                    <p>
                        On {{comment.created_on.date }}&nbsp;
                        <b>{{ comment.author }}</b> wrote:
                    </p>
                    <p>{{ comment.body }}</p>
                    <hr>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}