
{% extends "base.html" %}
{% load static %}

{% block page_content %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Categories</h1>
            <span class="subheading">Choose your topic to read more</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container mb-5">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for category in categories %}
        <div class="post-preview">
          <a href="{% url 'article_by_category_index' category.id %}">
            <h2 class="post-title">
              {{ category.name }}
            </h2>
          </a>
        </div>
        <hr>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}
